.App-SignUp {
    text-align: center;
    padding-top:5%;
}

.App-SignUp-Header {
    background-color: #222;
    height: 10%;
    padding: 1%;
    color: white;
}

.App-SignUp-Title {
    font-size: 1.5em;
}

.Form-SignUp-Container {
    padding-left: 40%;
    padding-right: 40%;
}

.Form-SignUp-Group {
    padding-bottom: 10%;
}
